.breadcrumb{
    display: flex;
    align-items: center;
    gap: 20px;
}

.err-message {
    font-size: 14px;
    color: red;
    margin-left: 10px;
    font-style: italic;
    font-weight: 500;
}

p.spinner_1 {
    text-align: center;
    font-size: 30px;
}